header h1 {
  text-align: center;
  font-family: Arial;
  padding: 10px 10px 10px 10px;
  margin: 0px;
}

ul {
    text-align: center;
    padding: 0px 0px;
    margin: 0px;
}

nav li {
  display: inline-block;
  margin: 10px 10px;
}

a {
  text-decoration: none;
  color: darkgray;
  padding: 15px 15px 15px 15px;
}

nav a:hover {
  background-color: #4CAF50;
  color: white;
}
